name: Build

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**/*'
      - '!**/*.mpack'
      - '!.github/workflows/build.yml'

jobs:
  build:

    runs-on: macos-latest
    timeout-minutes: 10

    env: 
      CI_COMMIT_MESSAGE: Continuous Integration Build Artifacts
      CI_COMMIT_AUTHOR: Continuous Integration

    steps:
    - uses: actions/checkout@v3

    - name: legacy - vstool setup rep-build
      run: /Applications/Visual\ Studio.app/Contents/MacOS/vstool setup rep-build $PWD
      working-directory: legacy
      continue-on-error: true

    - name: beta - vstool setup rep-build
      run: /Applications/Visual\ Studio.app/Contents/MacOS/vstool setup rep-build $PWD
      working-directory: beta
      continue-on-error: true

    - name: stable - vstool setup rep-build
      run: /Applications/Visual\ Studio.app/Contents/MacOS/vstool setup rep-build $PWD
      working-directory: stable
      continue-on-error: true

    - name: Publish Legacy Repo
      uses: actions/upload-artifact@v2
      with:
        name: Legacy
        path: |
          legacy/*.mrep
          legacy/index.html

    - name: Publish Beta Repo
      uses: actions/upload-artifact@v2
      with:
        name: Beta
        path: |
          beta/*.mrep
          beta/index.html

    - name: Publish Stable Repo
      uses: actions/upload-artifact@v2
      with:
        name: Stable
        path: |
          stable/*.mrep
          stable/index.html
    
    - name: Git Commit Build Artifacts
      if: github.event_name == 'push'
      run: |
        git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
        git config --global user.email "username@users.noreply.github.com"
        git commit -a -m "${{ env.CI_COMMIT_MESSAGE }}"
        git push
